# Quando for para produção, você muda para "prd" e roda o script de novo!
env=dev

# Location principal para os recursos, escolha o mais próximo de você ou da maioria dos seus usuários
location=westus2

# Aqui depende da disponibilidade do Azure SQL, então provavelmente seja diferente do location principal
sqlLocation=westus2

# Use um sufixo único, e curto para não estourar o máximo de 24 chars do Key Vault
suffix=tc3-nett-v3
# "kv-{suffix}-{env}" => "kv-tc3-nett-v3-dev" deu 18 caracteres, então tá tranquilo!

# Administração do Azure SQL
sqlAdmin=tcadmin
sqlPassword=P@ssw0rdTechChallenge3!

# Administração do Cosmos DB
cosmosDbName=CloudGamesAuditDb
cosmosContainerName=AuditLogs
cosmosPartitionKey=/AggregateId

# Configurações JWT
jwtSecret=sua-chave-secreta-aqui-para-jwt
jwtIssuer=Fiap.CloudGames.Dev
jwtExpiryMinutes=60
jwtAudience=Fiap.CloudGames.Dev

# Configurações Adm User
adminUserPassword=StrongP@ssw0rd!
adminUserName=Administrador
adminUserEmail=admin@email.com